	<%- include('../partials/header')%>
	<div class="site-section ">
				
		<div class="container d-flex justify-content-center">
			<% if (locals.countInWishlist>0) { %>
		  <div class="row mb-5">
			  <div class="site-blocks-table">
				<table class="table ">
				  <thead>
					<tr>
					  <th scope="col" class="product-thumbnail">Image</th>
					  <th scope="col" class="product-name">Product</th>
					  <th scope="col" class="product-price">Price</th>
					  <th scope="col" class="product-size">available sizes</th>
					  <th scope="col" class="product-addCart">Add to Cart</th>
					  <th scope="col" class="product-remove">Remove</th>
					</tr>
				  </thead>
				  <tbody>
					<% wishlistData.forEach((product)=>{%>
					<tr>
					  <td class="product-thumbnail">
						<a href="/shop"><img src="/adminImages/<%= product?.productDetail?._id %>.jpg" alt="Image" class="img-fluid"></a>
					  </td>
					  <td class="product-name">
						<h2 class="h5 text-black"><%= product?.productDetail?.name %></h2>
					  </td>
					  <td><%= product?.productDetail?.price%> ₹</td>
					  <td><%= product?.productDetail?.size%></td>
					  <td class="addToCart"><a style="color:#fff" class="btn btn-primary" href="/productView/<%= product?.productDetail?._id %> ">shop Now</a></td>
					  <td class="product-remove">
					 <button class="btn btn-danger" style="color:#fff"
					 onclick="removeFromWishlist('<%= product._id %>','<%= product?.productDetail._id %>')">
					 remove</button>
					</td>
					</tr>
	
					<% }) %>
					
				  </tbody>
				</table>
			  </div>
			  
		  </div>
		  <% } else { %>
			
			  <div class=""><img src="/adminImages/wish.png" style="width:20%;height:20%;" class="img-fluid rounded mx-auto d-block mb-5" alt="image">
				<h2 class="text-center text-black">Oops!<br>
					Your Cart is empty </i><br>
					<a class="btn btn-primary mt-5 mb-5" href="/shop">Back to shop</a>
			  </div>
			  
		  <% } %>
	   </div>
	</div>
		<!-- end wishlist -->
	
		<!-- footer -->
		<%- include('../partials/footer')%>
			